{% extends 'base.html' %}

{% import 'set.html' as set %}

{% block style %}
  <link rel="stylesheet" href="/static/style/home.css">
{% endblock %}

{% block content %}
<div id="main-content" class="container-fluid">
    <h3 class="text-center">Upcoming Workouts</h3>
    <hr>
    <div id="upcoming-workouts">
      {% if upcoming %}
        {% for workout in upcoming %}
        <div class="workout">
          <div class="workout-header">
            <span class="date">
              {{ workout.scheduled.strftime('%m/%d/%Y')}}
            </span>
            <span class="title"><a href="/workouts/{{workout.id}}">{{workout.name}}</a></span>
            <form method="POST" action="/workouts/delete/{{workout.id}}" class="del">
              <a onclick="this.parentNode.submit()">
                <i class="fa-solid fa-x fa-xl" ></i>
              </a>
            </form> 
          </div>
          <span class="exercise-dropdown">Exercises <i href="#" class="fa-solid fa-caret-down"></i></span>
          <div class="exercises">
            {% for exercise in workout.exercises %}
                <span class="exercise-name">{{exercise.exercise_name}} <i class="fa-solid fa-caret-down"></i></span>
                <div class="sets">
                  {% for ex_set in exercise.sets %}
                    {{set.render_set(loop.index, ex_set)}}
                  {% endfor %}
                </div>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
          {% else %}
            No items to display
          {% endif %}
    </div>
    <h3 class="text-center">Completed Workouts</h3>
    <hr>
    <div id="completed-wrapper">
      <div id="completed-workouts">
        {% if completed %}
          {% for workout in completed %}
            <div class="workout">
              <div class="workout-header">
                <span class="date">
                  {{ workout.completed.strftime('%m/%d/%Y')}}
                </span>
                <span class="title">{{workout.name}}</span>
                <form method="POST" action="/workouts/delete/{{workout.id}}" class="del">
                  <a onclick="this.parentNode.submit()">
                    <i class="fa-solid fa-x fa-xl" ></i>
                  </a>
                </form> 
              </div>
              <span class="exercise-dropdown">Exercises <i href="#" class="fa-solid fa-caret-down"></i></span>
              <div class="exercises">
                {% for exercise in workout.exercises %}
                    <span class="exercise-name">{{exercise.exercise_name}} <i class="fa-solid fa-caret-down"></i></span>
                    <div class="sets">
                      {% for ex_set in exercise.sets %}
                        {{set.render_set(loop.index, ex_set)}}
                      {% endfor %}
                    </div>
                {% endfor %}
              </div>
            </div>
          {% endfor %}
        {% else %}
          No items to display
        {% endif %}    
      </div>
    </div>
</div>
{% endblock %}

{% block script %}
  <script src="/static/script/home.js"></script>
{% endblock %}