{% macro render_set(index, set) %}
<div class="set">
  <div class="set-header">
    <span  class="set-index" style="color: var(--my-red);">Set {{index}}</span>
    <span class="desc">(Completed/Target)</span>
  </div>

  <div class="set-info">
    <div class="weight">
      <span>Weight:</span> <span>
        {% if set.completed_weight %}
          {{set.completed_weight}}
        {% endif %}
        {% if set.target_weight %}
          /{{set.target_weight}} 
        {% endif %}  
          {{g.user.unit.abbr}}s</span>
    </div>
    
    <div class="reps">
      <span>Reps:</span> 
      <span>
        {% if set.completed_reps %}
          {{set.completed_reps}}
        {% endif %}
        {% if set.target_reps %}
          /{{set.target_reps}} 
        {% endif %} reps
      </span>
    </div>
    
    <div class="rpe">
      <span>RPE:</span>
      <span>
        {% if set.completed_rpe %}
          {{set.completed_rpe}}
        {% endif %}
        {% if set.target_rpe %}
          /{{set.target_rpe}} 
        {% endif %} 
        </span>
    </div>
    
    <div class="resttime">
      <span>Rest time:</span>
      <span>
        {% if set.resttime %}
          {{set.resttime // 60 }}m {{set.resttime % 60}}s
        {% endif %}
      </span>
    </div>
  </div>
    
</div>
{% endmacro %}