{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="/static/style/signup.css">
{% endblock %}

{% block content %}
<div class="container-fluid mt-3">
  <h3 class="text-center">Sign Up</h3>
  <form action="/signup" method="POST" class="d-flex justify-content-center" novalidate>
  <div id=form-wrapper class="position-relative">
    <div id="req-info" class="container-fluid position-absolute">
      <span id="login-here">Already have an account? Login <a href="/login">here!</a></span>
      {{form.hidden_tag()}}
      <div>
        {{form.username.label}} {{form.username(class='form-control')}}
        {% for err in form.username.errors %}
          <span class="err-desc">
            {{err}}
          </span>
        {% endfor%}
      </div>
      <div>
        {{form.password.label}} {{form.password(class='form-control')}}
        {% for err in form.password.errors %}
        <span class="err-desc">
          {{err}}
        </span>  
        {% endfor%}
      </div>
      <div>
        {{form.confirm_password.label}} {{form.confirm_password(class='form-control')}}
        {% for err in form.confirm_password.errors %}
        <span class="err-desc">
          {{err}}
        </span>  
        {% endfor%}
      </div>
      <button id='next' class="btn" type="button">
        Next
      </button>
    </div>
    <div id="add-info" class="container-fluid position-absolute">
      <span id="more-info"> Tell us more about yourself</span>
      <div>

        {{form.first_name.label}} {{form.first_name(class='form-control')}}
      </div>
      <div>

        {{form.last_name.label}} {{form.last_name(class='form-control')}}
      </div>
      <div>

        {{form.birthday.label}} {{form.birthday(class='form-control')}}
      </div>
      <div>

        {{form.height.label}} {{form.height(class='form-control')}}
      </div>
      <div>

        {{form.weight.label}} {{form.weight(class='form-control')}}
      </div>
      <div>

        {{form.preferred_unit.label}} {{form.preferred_unit(class='form-control')}}
      </div>
      <div id="button-bar" class="container-fluid d-flex justify-content-between">
        <button id="back" class="btn" type="button">
          Back
        </button>
        <button id="submit" class="btn">
          Submit
        </button>
        <button class="btn">
          Maybe later
        </button>
      </div>
    </div>
  </div>
  </form>
</div>
{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
<script src="/static/script/signup.js"></script>
{% endblock %}