form {
    margin: 100px auto;
    padding: 15px;
    width: 33%;

    border: 2px solid black;
    border-radius: 8px;

    background-color: skyblue;
}

.input-container {
    padding: 10px 0px;
    position: relative;
}

.input-container input {
    position: absolute;
    right: 0px;

    padding: 3px 6px;

    background-color: lightsteelblue;
    border-radius: 5px;
}

.input-container input:focus {
    background-color: yellow;
}



