#navbar {
  background-color: blueviolet;
  height: 60px;
  width: 100%;
  position: relative;
}

#navbar div {
  height: 100%;
  aspect-ratio: 1 / 1;
  color: white;
  position: absolute;
  right: 10px;
  align-self: center;
  z-index: 50;

  display: flex;
  align-items: center;
}

#navbar i {
  font-size: 20px;
}