{% extends 'base.html' %}

{% block style %}
  <link rel="stylesheet" href="/static/style/workout/new-workout.css">
  <link rel="stylesheet" href="/static/style/card.css">
{% endblock %}

{% block content %}
  <div id="content-container">
    <div id="input-container">
      <form id="submit" action="/workouts/new" method="POST">
        <div id="workout-name-wrapper">
          {{form.name(id="name", placeholder="Workout Name", class="form-control")}}
          <!-- <input id="workout-name" name="workout-name" type="text" placeholder="Workout Name"> -->
        </div>
        <div id="date-input">
          {{form.hidden_tag()}}
          {{form.scheduled.label}} {{form.scheduled(class='form-control')}}
        </div>
        <hr>
        <div id="search-bar">
          <div id="select-wrapper">
            {{exercise_form.muscle_groups.label}} {{exercise_form.muscle_groups(class='form-control')}}
          </div>
          <div id="search-button-wrapper">
            <button id="search-btn" type="button" class="btn">Search</button>  
          </div>
        </div>
        <div id="exercise-wrapper">
          <div id="curr" class="slide"></div>
          
        </div>
        <div id="btn-bar">
          <button id="back-btn" type="button" class="btn">Back</button>
          <button id="add-set-btn" type="button" class="btn">Add Set</button>
          <button id="next-btn" type="button" class="btn">Next Exercise</button>
        </div>
      </form>
    </div>
  </div>

  <div id="submission-bar">
    <button class="btn" form="submit">Create Exercise</button>
  </div>
{% endblock %}

{% block script %}
<script src="/static/script/new-workout.js"></script>
{% endblock %}