:root {
    --my-red: #ff1b1c;
    --my-black: #0c0c0c;
    --my-gray: #d7d8d5;
    --my-white: #fffffa;
    --my-purple: #7e3f8f;
    --text-gray: #9b9b9b;
    --text-gray-two: #515151;
}

::-webkit-scrollbar {
    width: 5px;
    padding: 0 5px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    padding: 0 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--my-red);
    border-radius: 10px;
    height: 20px;
    padding: 0 5px;
}

body {
    background-color: var(--my-white);
    color: var(--my-black) !important;
    
    overflow-x: hidden;
}

.navbar {
    background-color: var(--my-red) !important;
}

.navbar-brand i {
    color: var(--my-white);
    margin-right: 5px;
    transform: rotate(-45deg);
}

.navbar a {
    color: var(--my-white);
}

.navlink {
    color: var(--my-purple) !important;
}

#logout {
    position: absolute;
    right: 10px;
}

#profile-nav-item {
    position: absolute;
    right: 90px;
    top: 0px;
}


#profile {
    border: 2px solid var(--my-white);
    height: 40px;
    width: 40px;
    border-radius: 999%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    #profile-nav-item {
        position: relative;
        left: 0px;
    }
    #profile {
        border: none;
        position: relative;
        display: block;
        width: 100%;
        right: none;
    }
    #profile a::after {
        content: 'Profile';
        visibility: visible;
        text-decoration: none;
    }
    #profile i::before {
        content: none;
    }
    #logout {
        position: relative;
        right: none;
        left: 0px;
    }    

}

button {
    background-color: var(--my-red) !important;
    color: var(--my-white) !important;
}

button:hover {
    background-color: var(--my-white) !important;
    color: var(--my-red) !important;
    border: 1px solid var(--my-black), !important;
    box-shadow: inset 0px 0px 2px 2px var(--my-gray) !important;
    
}

button:disabled {
    background-color: var(--my-gray) !important;
}

input {
    background-color: var(--bs-primary-bg-subtle) !important;
}

input:focus {
    box-shadow: none !important;
    border: 1px solid var(--my-red);
    outline: 0;
    box-shadow: inset 0 1px 1px var(--my-red), 0 0 8px var(--my-red) !important;
}

.dropdown-menu {
    background-color: var(--my-red);
}

.dropdown-item:hover {
    background-color: var(--bs-primary-bg-subtle);
}

select:focus {
    border: 1px solid var(--my-red);
    outline: 0;
    box-shadow: inset 0 1px 1px var(--my-red), 0 0 8px var(--my-red) !important;
}

option:focus {
    background-color: var(--my-red) !important;
}


#detail-image {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    border: 2px solid var(--my-black);
    gap: 10px;
}

#detail-image i {
    color: var(--my-red);
    transform: rotate(-45deg);
}

#detail-body {
    margin-top: 1rem;
}

#profile i {
    color: var(--my-white);
}

#background {
    height: 100vh;
    width: 100vw;
    padding: 0 10px;
    position: relative;

    overflow-x: hidden;
}

.bg-icon {
    font-size:4rem;
    color: var(--my-red);
    position: absolute;

    z-index: -1;
}

#left, #right {
    background-color: rgb(255, 224, 224);
    width: 10%;
    height: 100%;
    position: absolute;
}

#left {
    left: 0px;
}

#right {
    right: 0px;
}

@media screen and (max-width:1024px) {
    .bg-icon i {
        visibility: hidden;
    }
}