.my-card {
    height: 50px;

    position: relative;

    border: 1px solid var(--my-gray);
    border-radius: 8px;

    padding: 3px 10px;
    margin: 10px 10px;

    box-shadow: 1px 2px var(--my-gray);
    transition: box-shadow 0.4s ease;
    overflow-wrap: break-word;
    display: flex;
}

.my-card span {
    position: absolute;
    right: 10px;
    top: 10px;
}

.my-card i {
    color: var(--my-red);
}

.my-card:has(i:hover) {
    box-shadow: inset 0px 0px 2px 1px var(--my-gray);
}

.my-card .text {
    width: 80%;
    overflow-wrap: break-word;
}

.my-card a {
    color: var(--my-red);
    text-decoration: none;
    font-weight: 600;
}

.my-card a:hover {
    text-decoration: underline;
}