h3 {
    font-size: 40px;
}

form {
    height: fit-content;
}

#form-wrapper {
    overflow-x: hidden;
    overflow-y: none;
    height: 85vh;
    width: 35%;

    
}

@media screen and (max-width: 1440px){
    #form-wrapper {
        width: 50%
    }
}

@media screen and (max-width: 800px) {
    #form-wrapper {
        width: 100%;
    }
}

#login-here {
    height: 35px;

    font-size: 24px;
    color: var(--text-gray-two);
    margin-bottom: 2rem;
}

#login-here a {
    color: var(--my-red);
}

#req-info {
    right: 0%;
    transition: right .3s ease-in;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#req-info div {
    width: 100%;
}

#next {
    align-self: flex-end;
}

#req-info.slide {
    right: 100%;
}

#req-info button {
    margin-right: 10px;
    width: 110px;
}

#add-info {
    left: 100%;
    transition: left .3s ease-in;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#more-info {
    font-size: 24px;
    color: var(--text-gray-two);
}

#add-info div {
    width: 100%;
}

#add-info.slide{
    left: 0%;
}


input {
    margin-bottom: 1rem;
}

select {
    background-color: var(--bs-primary-bg-subtle) !important;
}

#button-bar {
    margin-top: 1.5rem;
}

#button-bar button {
    width: 110px;
    height: 38px;
}

#req-info, #add-info {
    font-size: 20px;
    font-weight: 600;
}


.err-desc {
    font-size: 12px;
    color: var(--my-red);
    position: relative;
    top: -20px;
}

@media screen and (max-width: 375px) {
    #login-here {
        height: 50px;
        flex-wrap: wrap;
    }
    #login-here span {
        display: block;
    }
}

@media screen and (max-width: 425px) {
    #button-bar {
        flex-wrap: wrap;
    }
    #submit {
        order: 3;
        margin: 1.5rem auto;
    }
}