.bio-wrapper {
  height: 90vh;
  padding: 50px;
  box-sizing: border-box;

  grid-column: 1 / 2;
  grid-row: 1 / 4;
}

.bio-container {
  height: 100%;
  width: 350px;
  min-width: 350px;

  padding: 25px;

  box-sizing: border-box;

  background-color: white;
  box-shadow: 0px 0px 5px gray;

  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  position: relative;
}

.bio-content {
  display: flex;
  flex-direction: column;
  flex: 1;
 
  margin-bottom: 1em;
}

.content {
  flex: 1;
  border: none;
  resize: none;
  padding: 10px;
}

#bio {
  font-family: 'Montserrat', 'sans-serif';
}

#bio:focus {
  border-radius: 10px;
  outline: 1px solid var(--accent-one);
}

.bio-container button {
  flex-basis: fit-content;
  display: inline-block;
  box-sizing: border-box;
  width: fit-content;
  margin: 0 auto;
  padding: 15px;

  border-radius: 20px;
  border: none;
  background-color: var(--accent-one);
  color: white;

  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}