.photo-input {
  --input-height: 90%;
  flex: 1;
  position: relative;
  height: var(--input-height);
  width: calc(var(--input-height) * 0.8);
  box-sizing: border-box;

  align-self: center;
  justify-self: center;

  scroll-snap-align: center;

  border-radius: 10px;
  box-shadow: 0px 0px 5px gray;

  transition: height 0.5s ease, width 0.5s ease;
}

.photo-input:hover {
  --input-height: 92%;
}


.photo-input img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top left;
  border-radius: 10px;

  background-color: white;

  z-index: 5;
}

.photo-input button {
  z-index: 2;
  position: absolute;

  top: 105%;
}

.photo-input .delete-btn {
  height: 30px;
  width: 30px;
  border-radius: 999%;

  background-color: var(--dark-red);

  position: absolute;
  top: -12px;
  right: -12px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.photo-input .delete-btn i {
  color: white;
}

.icon-container {
  height: 100%;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;

  border-radius: 10px;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;

  pointer-events: none;
}

.photo-input input[type="file"] {
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 10px;
  border: none;
}

.photo-input label {
  position: absolute;
  top: -30px;
  left: -5px;
  font-size: 18px;
}