.user-banner {
  height: 25%;

  display: flex;
  gap: 25px;
}

.user-banner .user-icon {
  height: 50%;
  aspect-ratio: 1 / 1;
  border-radius: 999%;
  border: 1px solid grey;

  display: inline-block;
}

.user-banner .user-icon.default {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
}

.user-icon.default h1 {
  font-size: 48px;
}

.user-banner .user-name-age {
  display: inline-block;
  flex: 1;
}

.user-name-age #name {
  font-size: 36px;
  letter-spacing: 3px;
  margin: 0;
  margin-top: 1rem;
  font-weight: 500;
}

.user-name-age #age {
  margin: 0;
  font-size: 24px;
}