#comment-form {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 20px;

    padding: 0 50px;
}

#comment-form input {
    width: 75%;
    font-size: 1.25rem;
}

#comment-form button {
    width: 50px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: cyan;
}