#post-form {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 auto;
    gap: 2rem;
    padding: 1rem 50px;
    position: relative;
}

#post-form input, #post-form textarea {
    width: 100%;
    margin-top: 0.5rem;
}

#post-form label {
    font-size: 1.25rem;
    font-weight: 600;
}

#post-form input {
    font-size: 1.25rem;
}

#post-form textarea {
    font-size: 1.1rem;
    letter-spacing: 1px;
}

#post-form #button-bar button {
    margin: 0 10px;
    height: 40px;
    font-weight: 500;
    border: 1px solid transparent;
    padding: 10px;
    border-radius: 8px;
}

#post-form i {
    position: absolute;
    top: 10px;
    right: 0px;
    font-size: 1.5rem;
}

