#signup-carousel {
    flex: 1;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    overflow: hidden;
    height: 80%;
    margin: auto 0;
    position: relative;
}

.carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    align-self: center;
    overflow: hidden;
    transition: left ease 1s;
}

.carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
    
}

